<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="TestDB" connectionString="Data Source=localhost;Initial Catalog=testdb;User ID=sa;Password=cheese;" />
    <!--add name="TestDB2" connectionString="Data Source=.\sqlexpress;Initial Catalog=testdb;Integrated Security=True;Pooling=False"/-->
  </connectionStrings>
</configuration>